
.link-to-entity {
    color: #0b0080 !important;
}

.keyword {
    color: #0000dd !important;
}

.function-name {
    color: #0645ad !important;
    font-weight: bold !important;
}

.bg-white {
    background: white !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.pb-1 {
  padding-bottom: 1vh;
}

.indent {
    padding-left: 2em !important;
}

.doc {
  hyphens: none !important;
}

.quickref article {
  max-width: 80% !important;
}

/* highlight.js */

/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: #008000;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #0000dd;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: black;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: black;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: black;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: black;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #0b0080;
}

.hljs-symbol,
.hljs-bullet {
  color: black;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}

.highlightjs a {
    color: #003080;
}
.highlightjs a:hover {
    color: #003080;
}

.raw-code code {
    background: white !important;
    box-shadow: none !important;
}

.raw-code .source-toolbox {
    display: none !important;
}