{% from "common.jinja2" import description, link, template_parameters, phrase, header_file %}

== {{ entity.fully_qualified_name }}


{{ header_file(entity) }}

{{ description(entity.brief) }}

[source, cpp, subs="+macros", role="raw-code"]
----
{{ template_parameters(entity) }}
{{ entity.declarator }} {{ entity.name }}
{%- for entry in entity.bases -%}
    {% if loop.first %}:{% else %},{% endif -%}
    {{ ' ' ~ entry.access ~ ' ' }}
    {%- if entry.is_virtual %}virtual {% endif -%}
    {{ phrase(entry.base, in_code=True) }}
{%- endfor -%}
;
----

{{ description(entity.description) }}

{% for type in entity.public_types %}
{% if loop.first %}
=== Member types

[cols="1,2", grid=rows, frame=none, role="mt-0"]
|===
{% endif %}
.^|{{ link(type, '[link-to-entity bg-white]`' + type.name + '`') }}
.^|{{ description(type.brief) }}

{% if loop.last %}
|===
{% endif %}

{%- endfor  -%}


{% for fn in entity.public_member_functions %}
{% if loop.first %}
=== Member functions

[cols="1,2", grid=rows, frame=none, role="mt-0"]
|===
{% endif %}
.^|{{ link(fn, '[link-to-entity bg-white]`' + fn.name + '`') }}
.^|{{ description(fn.brief[0]) }}

{% if loop.last %}
|===
{% endif %}

{%- endfor  -%}



{% for fn in entity.public_static_functions %}
{% if loop.first %}
=== Static functions

[cols="1,2", grid=rows, frame=none, role="mt-0"]
|===
{% endif %}
.^|{{ link(fn, '[link-to-entity bg-white]`' + fn.name + '`') }}
.^|{{ description(fn.brief[0]) }}

{% if loop.last %}
|===
{% endif %}
{%- endfor  -%}



{% for mem in entity.members.values() 
    | select("Variable")
    | selectattr("access", "eq", Access.public) 
    | selectattr("is_static", "eq", False) %}

{% if loop.first %}
=== Data members

[cols="1", grid=none, frame=none, role="mt-0 space-rows"]
|===
{% endif %}
.^a|
[source, cpp, subs="+macros", id={{ mem.name }}]
----
{{ phrase(mem.type) }} {{ mem.name }}{%- if mem.value %} {{ phrase(mem.value) }} {%- endif -%};
----


{{ description(mem.brief) }}

{{ description(mem.description) }}

{% if loop.last %}
|===
{% endif %}
{%- endfor  -%}
