{% from "common.jinja2" import phrase, template_parameters, description, header_file %}

== {{ entity.fully_qualified_name }}


{{ header_file(entity) }}

[source, cpp, subs="+macros", role="raw-code"]
----
{{ template_parameters(entity) }}
{{ entity.declarator }} {{ entity.name }} = {{ phrase(entity.aliased) }};
----

{{ description(entity.brief) }}

{{ description(entity.description) }}

