#
# Copyright (c) 2019-2024 Ruben Perez Hidalgo (rubenperez038 at gmail dot com)
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
#

name: Build

on:
  push:
    branches: [develop, master]
    tags: ['*']
  pull_request:
  workflow_dispatch:


jobs:
  osx:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          unlink /usr/local/bin/python || echo "/usr/local/bin/python not found"
          ln -s /usr/local/bin/python3 /usr/local/bin/python
          cp tools/user-config-osx-gha.jam ~/user-config.jam
          python -m pip install requests
          source tools/setup_db_osx.sh
          python tools/ci/main.py \
            --source-dir=$(pwd) \
            b2 \
            --toolset=clang \
            --cxxstd=20 \
            --variant=debug,release
